@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");



/* coustom theme */

@theme {
  /* font family */
  --font-dmsans: "DM Sans", sans-serif;
  --font-chivo: "Chivo", sans-serif;

  /* font color */
  --color-primary: #2c2643;
  --color-secondary: #645e76;
  --color-tartiary: #fff;
  --color-quaternary: #3639a4;

  /* animation */
  --animate-run: leftRight 2s infinite ease-in-out;
  --animate-runTwo: leftRightTwo 2s infinite ease-in-out;
  --animate-runThree: leftRightThree 2s infinite ease-in-out;
  
  @keyframes leftRight {
    0%{
      left:50px,
    }
    50%{
      left:0
    }
  }
  @keyframes leftRightTwo {
    0%{
      left:100px,
    }
    50%{
      left:0
    }
  }
  @keyframes leftRightThree {
    0%{
      left:150px,
    }
    50%{
      left:0
    }
  }

}
.m{
  color: #38a44535;
}